<!DOCTYPE html>
<%#include "block.h" %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Block</h1>

<%== linkTo("Create a new Block", urla("create")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>ID</th>
    <th>BlockCount</th>
    <th>TeacherId</th>
    <th>SubjectId</th>
    <th>GroupId</th>
  </tr>
<% tfetch(QList<Block>, blockList); %>
<% for (const auto &i : blockList) { %>
  <tr>
    <td><%= i.id() %></td>
    <td><%= i.blockCount() %></td>
    <td><%= i.teacherId() %></td>
    <td><%= i.subjectId() %></td>
    <td><%= i.groupId() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.id())) %>
      <%== linkTo("Edit", urla("save", i.id())) %>
      <%== linkTo("Remove", urla("remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
