<!DOCTYPE html>
<%#include "timeslot.h" %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Time Slot</h1>

<%== linkTo("Create a new Time Slot", urla("create")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>ID</th>
    <th>TimeSlotName</th>
  </tr>
<% tfetch(QList<TimeSlot>, timeSlotList); %>
<% for (const auto &i : timeSlotList) { %>
  <tr>
    <td><%= i.id() %></td>
    <td><%= i.timeSlotName() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.id())) %>
      <%== linkTo("Edit", urla("save", i.id())) %>
      <%== linkTo("Remove", urla("remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
