<!DOCTYPE html>
<%#include "timetable.h" %>
<% tfetch(QVariantMap, timetable); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Timetable</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
      <label>Численность популяции<br /><input name="params[population]" value="" type="number" min="10" max="1000" /></label>
  </p>
  <p>
    <label>Количество итераций<br /><input name="params[iterations]" value="" type="number" min="1" max="16" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
