<!DOCTYPE html>
<%#include "timetable.h" %>
<% tfetch(QVariantMap, timetable); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Timetable</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>Тут будет ввод параметров для алгоритма</p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
