<!DOCTYPE html>
<%#include "timetable.h" %>
<%#include "timeslot.h" %>
<%#include "classroom.h" %>
<%#include "group.h" %>
<%#include "teacher.h" %>
<%#include "subject.h" %>

<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Timetable</h1>

<%== linkTo("Create a new Timetable", urla("create")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>ID</th>
    <th>ClassroomId</th>
    <th>TimeId</th>
    <th>BlockId</th>
  </tr>
<% tfetch(QList<Timetable>, timetableList); %>
<% tfetch(QList<TimeSlot>, timeSlots); %>
<% tfetch(QList<Classroom>, classrooms); %>
<% tfetch(QList<Group>, groups); %>
<% tfetch(QList<Teacher>, teachers); %>
<% tfetch(QList<Subject>, subjects); %>
<% for (int i = 0; i != timetableList.size(); ++i) { %>
  <tr>
    <td><%= timetableList[i].id() %></td>
    <td><%= timeSlots[i].timeSlotName(); %></td>
    <td><%= classrooms[i].classroomName() %></td>
    <td><%= classrooms[i].classroomType() %></td>
    <td><%= groups[i].groupName() %></td>
    <td><%= teachers[i].teacherName() %></td>
    <td><%= subjects[i].subjectName() %></td>
    <td><%= subjects[i].subjectType() %></td>
    <td>
      <%== linkTo("Show", urla("show", timetableList[i].id())) %>
      <%== linkTo("Edit", urla("save", timetableList[i].id())) %>
      <%== linkTo("Remove", urla("remove", timetableList[i].id()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
