<!DOCTYPE html>
<%#include "timetable.h" %>
<%#include "timeslot.h" %>
<%#include "classroom.h" %>
<%#include "group.h" %>
<%#include "teacher.h" %>
<%#include "subject.h" %>

<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Timetable</h1>

<%== linkTo("Create a new Timetable", urla("create")) %><br />
<%== linkTo("Remove Timetable", urla("removeAll"), Tf::Post, "confirm('Are you sure?')") %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>ID</th>
    <th>TimeId</th>
    <th>ClassroomId</th>
    <th>BlockId</th>
  </tr>
<% tfetch(QList<Timetable>, timetableList); %>
<% tfetch(QList<TimeSlot>, timeSlots); %>
<% tfetch(QList<Classroom>, classrooms); %>
<% tfetch(QList<Group>, groups); %>
<% tfetch(QList<Teacher>, teachers); %>
<% tfetch(QList<Subject>, subjects); %>
<% foreach (Timetable tt, timetableList) { %>
  <tr>
    <td><%= tt.id() %></td>
    <td><%= tt.timeId() %></td>
    <td><%= tt.classroomId() %></td>
    <td><%= tt.blockId() %></td>
    <td>
      <%== linkTo("Show", urla("show", tt.id())) %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
